:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
  --primary-font-size: 15px;
}
@font-face {
  font-family: "outfit";
  src: url("../public/assets/fonts/MavenPro-VariableFont_wght.ttf");
}
body {
  margin: 0;
  font-family: "outfit";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
